@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@using WebShop.Models
@model List<CartItem>


<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
    </div>
</div>
<div class="site-section">
    @if (Model.Count() == 0)
    {
        <div class="container mt-100">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Cart</h5>
                        </div>
                        <div class="card-body cart">
                            <div class="col-sm-12 empty-cart-cls text-center">
                                <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                                <h3><strong>Your Cart is Empty</strong></h3>
                                <h4>Add something to make me happy :)</h4> <a href="/" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row mb-5">
                <form class="col-md-12" method="post" action="/Cart/Update">
                    <div class="site-blocks-table">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Ảnh</th>
                                    <th class="product-name">Sản Phẩm</th>
                                    <th class="product-price">Giá</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-total">Tổng</th>
                                    <th class="product-remove">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 0;}
                                @foreach (CartItem item in Model)
                                {
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="/Content/images/@item.Product.Avatar" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h5 text-black">@item.Product.Name</h2>
                                        </td>
                                        <td>@String.Format("{0:0,0 VNĐ}", item.Product.Price)</td>
                                        <td>
                                            <div class="input-group mb-3" style="max-width: 120px;">
                                                <div class="input-group-prepend">
                                                    <a href="/Cart/Decrease/@item.Product.ID_Product" class="btn btn-outline-primary">-</a>
                                                </div>
                                                <input type="text" class="form-control text-center" value="@item.Quantity" name="SL[@i]">
                                                <input type="hidden" class="form-control text-center" value="@item.Product.ID_Product" name="Ma[@i]">
                                                <div class="input-group-append">
                                                    <a href="/Cart/Increase/@item.Product.ID_Product" class="btn btn-outline-primary">+</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@String.Format("{0:0,0 VNĐ}", (item.Product.Price * item.Quantity))</td>
                                        <td><a href="/Cart/Remove/@item.Product.ID_Product" class="btn btn-primary btn-sm">X</a></td>
                                    </tr>
                                    i = i + 1;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row mb-5">
                                @*
                                <div class="col-md-6 mb-3 mb-md-0">
                                    <button type="submit" class="btn btn-primary btn-sm btn-block">Update Cart</button>
                                </div>
                                *@
                                <div class="col-md-6">
                                    <a class="btn btn-outline-primary btn-sm btn-block" href="/Product/Index">Continue Shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @*
                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-black h4" for="coupon">Coupon</label>
                            <p>Enter your coupon code if you have one.</p>
                        </div>
                        <div class="col-md-8 mb-3 mb-md-0">
                            <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm">Apply Coupon</button>
                        </div>
                    </div>
                        *@
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Tổng</h3>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Số lượng sản phẩm</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">@ViewBag.TongSP</strong>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Tổng tiền</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">@String.Format("{0:0,0 VNĐ}", ViewBag.TongTien)</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="/Cart/Payment" class="btn btn-primary btn-lg py-3 btn-block">Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
